
/**{
    box-sizing:border-box;
    max-width: 100%;
  }*/

body {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    overflow-x: hidden;
    

}

.prelude{
     
    background: url("../img/prelude-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}
.conteiner{
    width: 1440px;
    max-width: calc( 100% - 64px);
    padding: 0 32px;
}
header .header_menu-icon{
width: 28px;
height: 28px;
padding: 3px 0;
}
.header_menu-icon span{
    width: 20px;
    height: 2px;
    background: white;
    display: block;
    margin: 4px;
}
.header_logo{
    font-family: 'Playfair Display';
    font-size: 28px;
    font-weight: bold;
}
.header_logo i{
    font: italic;
}
.prelude-content-title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 80px;
    font-weight: bold;
    line-height: 1.1;
    padding: 40px 0 24px;
    font-weight: 700;
    max-width: 704px;
}
.prelude-content-subtitle{
    font-size: 32px;
    line-height: 40px;
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    font-weight: normal;
    font-style: normal;
    max-width: 469px;
}
.slide-controls{
   
    margin-top: 80px;
    padding-bottom: 20px;
}
.slide-tracks{
    display: flex;
   
}
.slide-controls_previous{
    margin-right: 10px;
    
}
.slide-tracks_item{
    width: 32px;
    height: 4px;
    opacity: 0.5;
    border-radius: 10px;
    background: white;
    margin-right: 8px;
    margin-top: 100px;
    cursor: pointer;
    transition: .5s all;
}
.slide-tracks_item--active{
    opacity: 1;
}
.litle_car{
    cursor: pointer;
}
.slide-tracks_item:hover:not(:first-child){
 background-color: red;
}
.position1{
    position: relative;
    margin-left: 40px;
    margin-top: 50px;
    
}
.position1 img{
    width: 570px;
    
}
.position2{
    font-family: 'Playfair Display';
    position: relative;
    left: 700px;
    top: -450px;
    font-weight: bold;
    font-size: 56px;
    
    }
.position3{
   position: relative;
   left: 700px; 
    top: -450px;
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    font-size: 32px;    
    margin-top: 15px;
    
}
.position4{
    position: relative;
    
    font-family: 'Playfair Display';
    font-weight: bold;
    font-style: normal;
    margin-left: 90px;
    top: -100px;
    font-size: 56px;
}
.section_position{
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    margin-left: 90px;
    font-size: 32px;
    font-style: normal;
    top: 50px;
    margin-top: -80px;
}
.position5{
    position: relative;
    left: 175px;
    margin-left: 625px;
    top: -180px;
    
    
}
.position5 img{
   max-width: 570px;
    

}
.variedade_cafe{
margin-left: 90px;

}
.variedade_cafe li{
    width: 25%;
    border: solid;
    border-color: white;
    margin: 35px;
  
    
 }
.variedade_cafe h2{
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 60px;
color: #A0996C;
}
.card{
    display: inline-block;

   background: #F7F1E6;
   }
   .card h3{
       text-align: center;
   }
   .imgcard{
       text-align: center;
   }
   .card p{
       text-align: center;
   }
   .card span{
       font-size: 12px;
       color: #969696;
   }
   .card button{
    width: 237px;
    height: 28px;
    background: #0B1D03;
    color: white;

   }
  

.relative1{
    display: flex;
    flex-direction: column;
}
.relative1 img{
    position: relative;
    top: -15px;
    
}
.absolute1{
    display: flex;
    flex-direction: column;
}
.absolute1 img{
    position: relative;
    top: -15px;
    
    margin-left: 20px;
}
.absolute2{
    display: flex;
    flex-direction: column;
}
.absolute2 img{
    position: relative;
    top: -15px;
    height: 40px;
    margin-left: 30px;
    
}
.absolute3{
    display: flex;
    flex-direction: column;
}
.absolute3 img{
    position: relative;
    top: -15px;
    margin-left: 50px;
    height: 35px;
    width: 95px;
   
}
.absolute4{
    display: flex;
    flex-direction: column;
}
.absolute4 img{
    position: relative;
    top: -15px;
    height: 40px;
    margin-left: 55px;
    height: 35px;
    width: 95px;
   
}
    
.section-section-section{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    font-size: 20px;
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    font-weight: 500;
    font-style: normal;
    margin-bottom: 40px;
    margin-right: 40px;
   
  }
.sectio_display-inline{
    display: flex;
    margin-left: 40px;
    margin-bottom: 80px;
}
.background-image2{
    background: url("../img/rectangle20.png");
    width: 604px;
    height: 500px;
    font-size: large;
    color: white;
    margin-right: 25px;
    margin-top: 10px;
    
}
 
.background-image2 h2{
    font-family: 'Playfair Display';
    position: relative;
    font-size: 56px; 
    top: 315px;
    padding-left: 20px;
    
}
.background-image2 h3{
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot'); 
  position: relative;
  top: 335px;
  font-size: 20px;
  
  padding-left: 20px;
}
.background-image3{
   background: url("../img/rectangle21.png");
    width: 604px;
    height: 500px;
    font-size: large;
    color: white;
    margin-left: 50px;
    margin-top: 10px;
}
.background-image3 h2{
    font-family: 'Playfair Display';
    position: relative;
    font-size: 56px; 
    top: 315px;
    padding-left: 20px;
}
.background-image3 h3{
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    position: relative;
    top: 335px;
    font-size: 20px;
    padding-left: 20px;
}
.section_font{
    font-family: 'Playfair Display'; 
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 60px;
margin-left: 40px;
margin-bottom: 0;
}
.section-section-section-section{
    margin-left: 40px;
    margin-bottom: 20px;
}

.section-section-section-section_text{
    height: 45px;
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 25px;
    width: 320px;
}
.fontfamily-playfair{
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 28px;
    font-weight: bold;
    margin-left: 40px;
}
.width2{
    width: 930px;
    height: 45px;
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 25px;
}
.width{
    margin-left: 40px;
}
.width img{
    width: 1285px;
    height: 512px;
    border-radius: 8px;
   
}
footer{
 background: #F7F1E6;
 margin-top: 15px;
 height: 200px;
 font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
 
}
.footer_spaced{
    position: relative;
    top:-20px;
    left: 200px;
    line-height: 28px;
    font-size: 20px;
    margin-left: 80px;
    
}
footer ul{
    display: inline-block;
    list-style: none;
    margin-left: 100px;
 }
footer a{
    text-decoration: none;
    color: inherit;
}
.list-style{
    list-style: none;
    text-decoration: inherit;
    
}
.inline{
    position: relative;
    top: -70px;
    left: 55px;
}
.inline label{
    position: relative;
    top: -60px;
    font-size: 20px;
}
.inline li{
     display: inline-block;
      }
.absolute5{
    position: relative;
    right: 150px;
}
.absolute6{
    position: relative;
    right: 135px;
}
.absolute7{
    position: relative;
    right: 120px;
}
.footer_h4{
    text-align: center;
    font-size: 20px;
}
.footer_h4 b{
font-size: 20px;
}
.cards{
    position: relative;
    top: -100px;
}
.cards img{
    width: 1200px;
    margin-left: 80px;
    
}
.modalform{
    position: relative;
    left: 400px;
    top: -200px;
}
.form_first{
   display: flex;
   flex-direction: column; 
   margin-right: 10px;
}

.form_first span{
    color: #969696;
}

.form_first img{
    margin-left: 5px;
    margin-right: 5px;
}
.form_name{
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
    width: 510px;
    height: 46px;
    margin-top: 15px;
    margin-bottom: 1px;
    padding: 10px;
   
}
.form_coment{
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
    width: 510px;
    height: 106px;
    margin-top: 15px;
    margin-bottom: 1px;
    padding: 10px;   
}
.form_first-button{
    background-color:#0B1D03 ;
    border-radius: 4px;
    width: 510px;
    height: 36px;
    color: white;
    margin-top: 20px;
}
.modalpic{
    position: relative;
    left: 25px;
    width: 360px;
}
.modal{
    width: 900px;
    overflow-x: hidden;
    
}
.modal::backdrop{
    background: rgba(0,0,0);
    opacity: 0.7;
}

.form_second span{
    color: #A0996C;  
}
.form_second img{
    margin-left: 28px;
    margin-right: 28px;
}

.form_second_first-submit{
    background-color:#0B1D03 ;
    border-radius: 4px;
    width: 183px;
    height: 36px;
    color: white;
    margin-top: 20px;  
}
.form_second_second-submit{
    border-radius: 4px;
    width: 183px;
    height: 36px;
    margin-top: 20px;  
    background: #F2F2F2;
    border: none;
}
.form_second-date{
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
    width: 183px;
    height: 36px;
    margin-top: 15px;
    margin-bottom: 1px;
    padding: 10px;
}
.form_second_third-submit{
    background-color:#0B1D03 ;
    border-radius: 4px;
    width: 376px;
    height: 36px;
    color: white;
    margin-top: 135px;
}
.modal2::backdrop{
    background: rgba(0,0,0);
    opacity: 0.7;
}
.modal3 img{
    width: 200px;
    height: 200px;
}
.modal3::backdrop{
    background: rgba(0,0,0.7);
}
@media screen and (max-width: 768px){

    body{
       margin-right: 0;
       overflow-x: hidden;
    }
  
    .prelude{
     
        background: url("../img/prelude-bg.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        margin-right: -530px;
        color: white;
    } 

    .slide-controls{
        position: relative;
        left: 1100px;
        margin-top: 80px;
        padding-bottom: 20px;
    }
    
    .position1 img{
        
        margin-right: 0;     
       
    }
    .position2 {
        font-family: 'Playfair Display';
        position: relative;
        margin-left: 60px;
        margin-top: -20px;
        font-weight: normal;
                    
       }
       .position3{
        position: relative;
        margin-left: 85px;
        top: -450px;
        font-family: 'Gilroy';
        src: url('../fonts/Gilroy-Bold.eot');
        
        margin-top: 15px;
          
         }
         .position4{
             position: relative;
             left: -30px;
             top: 20px;
         }
          .section_position{
              position: relative;
              top: 95px;
          }
         .position5 img{
             position: relative;
           
            left: -70px;
            margin-left: -90px;
            
         } 
         
         .variedade_cafe li{
             display:inline-block;
             width: 25%;
            border: solid;
            border-color: white;
            margin: 35px;
             
         }
            
         .variedade_cafe h2{
             font-family: 'Playfair Display';
         font-style: normal;
         font-weight: bold;
         font-size: 56px;
         line-height: 60px;
         color: #A0996C;
         }
         .card{
             width: 200px;
         }
         .card button{
            width: 137px;
            height: 28px;
            background: #0B1D03;
            color: white;
        
           }
               
         .section-section-section{
             margin-bottom: 10px;
         }
         .relative1{
             position: relative;
             left: 120px;
             top: 30px;
         }
  .absolute1{
    position: relative;
    left: 30px;
    top: 175px;
}
.absolute1 img{
    position: relative;
   
}
.absolute2{
    position: relative;
    top: 30px;
    left: 420px;
}
.absolute3{
    position: relative;
    top: 175px;
    left: 280px;
}
.absolute4{
    position: relative;
    left: -400px;
    top: 290px;
    
}
.absolute4 span{
    text-align: center;
    
}
.sectio_display-inline{
    display: block;
    position: relative;
    top: 350px;
    margin-left: 40px;
    margin-bottom: 80px;
    
}
.background-image2{
  
    background: url("../img/rectangle20.png");
    width: 1138px;
    height: 500px;
    background-size: cover;
    font-size: large;
    color: white;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 60px;
}
 
.background-image2 h2{
    font-family: 'Playfair Display';
    position: relative;
    font-size: 76px; 
    margin-top: -50px;
    padding-left: 20px;
    
}
.background-image2 h3{
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot'); 
  position: relative;
  top: 335px;
  font-size: 30px;
  
  padding-left: 20px;
}
.background-image3{
    position: relative;
    background: url("../img/rectangle21.png");
    width: 1138px;
    height: 500px;
    background-size: cover;
    font-size: large;
    color: white;
    left: -45px;
    margin-top: 10px;
    margin-bottom: 60px;
}
.background-image3 h2{
    font-family: 'Playfair Display';
    position: relative;
    font-size: 76px; 
    margin-top: -50px;
    padding-left: 20px;
}
.background-image3 h3{
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot'); 
  position: relative;
  top: 335px;
  font-size: 30px;
  
  padding-left: 20px;
}
.section_font{
position: relative;
top: 350px;
font-family: 'Playfair Display'; 
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 60px;
margin-left: 40px;
margin-bottom: 0;
}
.section-section-section-section{
    position: relative;
    top: 350px;
    margin-left: 40px;
    margin-bottom: 20px;
}
.section-section-section-section_text{
    height: 76px;
    width: 1250px;
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 25px;
   
}
.width2{
    position: relative;
    top: 5px;
    left: 0;
    height: 76px;
    width: 1250px;
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 25px;
}
.width{
    position: relative;
    top: 360px;
}
.width img {
    width: 1285px;
    height: 257px;
}
 footer{
     position: relative;
     top: 350px;
    background: #F7F1E6;
    background-size: 100%;
    margin-top: 15px;
    height: 400px;
    width: 1335px; 
}
.fontfamily-playfair{
    position: relative;
    top: 50px;
}
.footer_spaced{
   position: relative;
   top: 70px;
   left: -40px; 
}
.inline{
    position: relative;
    top: 170px;
   left: -930px;
}
.inline li{
    position: relative;
    top: 10px;
    right: 170px;
}

.footer_h4{
    position: relative;
    top: 170px;
}
.absolute5{
    position: relative;
    top: -50px;
    margin-left: 40px;
}
.absolute6{
    position: relative;
    top: -50px;
    right: 135px;
}
.absolute7{
    position: relative;
    top: -50px;
    right: 120px;
}

}